<div *ngFor="let dummy of ' '.repeat(3000).split(''), let x = index" class="circle-container">
    <div class="circle"></div>
</div>
<div class="container mt-5 animated2 fadeIn">
    <h1 class="limiter animated fadeInRight" style="color: white;">Estudiantes</h1>
    <hr style="color: white;">
    <app-items [items]="estudiantes" [loaded]="loaded"></app-items>
</div>