<footer class="bg-dark text-center" style="bottom: 0px; color: white; position: fixed; width: 100%;">
    <div class="container">
        <p class="">
            Richard Tovar {{anio}}
        </p>
    </div>
</footer>