<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navbar-brand" aria-current="page" routerLinkActive="active" [routerLink]="['home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-brand" routerLinkActive="active" [routerLink]="['personajes']">Personajes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Estudiantes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" [routerLink]="['estudiantes']">Listado de estudiantes</a></li>
                        <li><a class="dropdown-item" [routerLink]="['solicitudes']">Solicitudes</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-brand" routerLinkActive="active" [routerLink]="['profesores']">Profesores</a>
                </li>

            </ul>

        </div>
    </div>
</nav>