<div *ngIf="loaded" class="row text-center animated2 fadeIn2">
    <div class="col">
        <button type="button" class="btn btn-info" (click)="actualizarVista()" [disabled]="loading">
            <i [ngClass]="{'fa fa-table':!cuadricula,  'fas fa-list':cuadricula}" class="" aria-hidden="true"> </i>
            <span *ngIf="!cuadricula"> Ver en cuadrícula</span>
            <span *ngIf="cuadricula"> Ver en tabla</span>
        </button>
    </div>
    <app-loading *ngIf="loading"></app-loading>
    <div class="col md-3">

        <div class="d-flex">
            <input ngModel name="buscarTexto" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keyup.enter)="buscar(buscarTexto.value)" #buscarTexto>

            <button class="btn btn-outline-info" type="button" (click)="buscar(buscarTexto.value)">Search</button>

        </div>
    </div>
</div>

<div *ngIf="cuadricula && loaded" class="row row-cols-1 row-cols-md-3 g-4 m-2 animated2 fadeIn2">
    <div *ngFor="let item of items" class="card animated2 fadeIn2 m-2" style="width: 18rem;">
        <h5 class="card-header">{{item.name}}</h5>
        <img src="{{item.image}}" class="card-img-top mt-3" alt="...">
        <div class="card-body">
            <h5 *ngIf="item.patronus !=''"><span class="badge rounded-pill bg-success">Patronus: {{item.patronus |titlecase}}</span></h5>
            <h5 *ngIf="item.dateOfBirth !=''"><span class="badge rounded-pill bg-info">Age: {{item.dateOfBirth |age:item.yearOfBirth}}</span></h5>
            <h5 *ngIf="item.dateOfBirth =='' && item.yearOfBirth==''"><span class="badge rounded-pill bg-info">Age: Unknow</span></h5>


        </div>
    </div>

</div>
<br>
<br>
<div *ngIf="!cuadricula && loaded" class="row row-cols-1 row-cols-md-3 g-4 m-5 animated2 fadeIn2">
    <table class="table table-secondary table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Patronus</th>
                <th scope="col">Age</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.name}}</td>
                <td>{{item.patronus |titlecase}}</td>
                <td *ngIf="item.dateOfBirth !=''">{{item.dateOfBirth |age}}</td>
                <td *ngIf="item.dateOfBirth =='' && item.yearOfBirth!=''">{{item.dateOfBirth |age:item.yearOfBirth}}</td>
                <td *ngIf="item.dateOfBirth =='' && item.yearOfBirth==''">Unknow</td>
                <td style="width: 100px;"><img src="{{item.image}}" class="rounded-circle" style="width: 60%;" alt="..."></td>
            </tr>

        </tbody>
    </table>
</div>
<br>
<br>