<div class="container mt-5 animated2 fadeIn2">
    <h1 class="limiter animated fadeInRight" style="color: white;">Profesores</h1>
    <hr style="color: white;">

    <app-items [items]="profesores" [loaded]="loaded"></app-items>
</div>