<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="p-4 mx-auto bg-light limiter animated fadeInLeft" style="width: 600px;">
    <h1 class="text-center animated fedeIn fast">Hogwarts</h1>
    <h4 class="text-center animated fadeIn">Escuela de hechicería y brujeria.</h4>
</div>
<hr>

<br>

<!-- <div class="col-md-12 animated2 limiter animated fadeInRight">
    <img class="img-fluid imgSlide" style="display: block;" src="../../../assets/img/hog.png" alt="">
</div> -->

<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3500">
            <a [routerLink]="['/personajes']">
                <img src="../../../assets/img/personajes.jpg" class="d-block imgSlide2" alt="...">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h3>Personajes</h3>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3500">
            <a [routerLink]="['/estudiantes']">
                <img src="../../../assets/img/students.jpg" class="d-block imgSlide2" alt="...">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h3>Estudiantes</h3>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3500">
            <a [routerLink]="['/profesores']">
                <img src="../../../assets/img/professors.jpg" class="d-block imgSlide2" alt="...">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h3>Profesores</h3>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>