<div class="container mt-5 animated2 fadeIn">
    <h1 class="limiter animated fadeInRight" style="color: white;">Solicitud de Estudiantes</h1>
    <hr style="color: white;">

</div>
<div class="container col-md-5">

    <form (ngSubmit)="guardar(forma)" style="color: white;" #forma="ngForm">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="name" required (ngModel)="estudiante.name">

        </div>
        <div class="mb-3">
            <label for="patronus" class="form-label">Patronus</label>
            <input type="text" class="form-control" id="patronus" name="patronus" aria-describedby="patronus" (ngModel)="estudiante.patronus">

        </div>
        <div class="mb-3">
            <label for="dateOfBirth" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" aria-describedby="dateOfBirth" (ngModel)="estudiante.dateOfBirth">

        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <hr style="color: white;">
    <div class="row mt-5 animated2 fadeIn2">
        <h2 style="color: white;">Listado de solicitudes</h2>
        <table class="table table-secondary table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Patronus</th>
                    <th scope="col">Age</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of estudiantes">
                    <td>{{item.name}}</td>
                    <td>{{item.patronus |titlecase}}</td>
                    <td *ngIf="item.dateOfBirth !=''">{{item.dateOfBirth |age}}</td>
                    <td *ngIf="item.dateOfBirth =='' && item.yearOfBirth!=''">{{item.dateOfBirth}}</td>
                    <td *ngIf="item.dateOfBirth =='' && item.yearOfBirth==''">Unknow</td>
                </tr>

            </tbody>
        </table>
    </div>
    <br>
    <br>

</div>