<div *ngFor="let dummy of ' '.repeat(3000).split(''), let x = index" class="circle-container">
    <div class="circle"></div>
</div>
<div class="container mt-5 animated2 fadeIn">
    <h1 class="limiter animated fadeInRight" style="color: white;">Personajes</h1>
    <hr style="color: white;">
    <div class="row">
        <div class="col md-6">
            <label style="color: white;" for="casa"><h4>Casa:</h4></label>
            <select #casa class="form-select form-select-lg" id="casa" (change)=listarPersonajes(casa.value)>
            <option selected value="">Seleccione la casa</option>
            <option *ngFor="let casa of casas" [value]="casa">{{casa |titlecase}}</option>

            </select>

        </div>


    </div>


    <hr>

    <app-items [items]="personajes" [loaded]="loaded"></app-items>
</div>